article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
  vertical-align: middle;
  color: transparent;
  font-size: 0;
}
figure {
  margin: 0;
}
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}
legend {
  border: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  overflow: hidden;
}
a {
  text-decoration: none;
}
blockquote {
  border-left: 3px solid #D0E5F2;
  font-style: normal;
  display: block;
  line-height: 1.4em;
  vertical-align: baseline;
  font-size: 100%;
  margin: .5em 0;
  padding: 0 0 0 .5em;
}
ul,
ol {
  padding-left: 20px;
}

.main-wrap {
  background-color: #f9f9f9;
  padding: 30px 30px;
}
.content-wrap {
  overflow: hidden;
  background-color: #f9f9f9;
  padding: 30px 30px
}

.question {
  overflow: hidden;
  margin: 0px 0px;
}
.question + .question {
  margin: 30px 0px;
  border-top: 5px solid #f6f6f6;
}
.question-title {
  color: #000;
  font-weight: 700;
  margin: 27px 0px;
  font-size: 120%;
}

.answer {
	margin: 20px 0px;
}
.answer + .answer {
  border-top: 2px solid #f6f6f6;
  padding-top: 20px;
}

.meta {
  font-size: 75%;
  margin: 10px 0px;
}
.meta .avatar {
  border-radius: 2px;
  margin-right: 7px;
}
.meta .author {
  color: #444;
  font-weight: 700;
}
.meta .bio,
.highlight .gh,
.highlight .bp {
  color: #999;
}

.content {
  color: #444;
  margin: 10px 0px 20px;
}
.content img {
  max-width: 100%;
  display: block;
  clear: both;
  margin:auto; 
  height:auto;
}
.content a {
  color: #259;
}

.view-more {
  margin: 30px 0px;
  text-align: center;
}
.view-more a {
  display: inline-block;
  height: auto;
  margin:auto;
  background: #f0f0f0;
  color: #B8B8B8;
}
.question .view-more a {
  width: 100%;
  display: block;
}