<style type="text/css">
body { text-align: left; color: #444444;}
div { text-align: left; color: #444444;}
p { text-align: left; color: #444444;}
img {clear: both; display: block; margin:auto; max-width:700px; height:auto;}

a:link {color: #00779f; text-decoration:none;}
</style>