<style type="text/css">
body { text-align: left; color: #6b5746;}
div { text-align: left; color: #6b5746;}
p { text-align: left; color: #6b5746;}
img {clear: both; display: block; margin:auto; max-width:700px; height:auto;}

a:link {color: #35659b; text-decoration:none;}
</style>