<style type="text/css">
body { text-align: left; color: #cccccc;}
div { text-align: left; color: #cccccc;}
p { text-align: left; color: #cccccc;}
img {clear: both; display: block; margin:auto; max-width:700px; height:auto;}

a:link {color: #49556a; text-decoration:none;}
</style>